@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
div{

  text-align: center;
  font-size: 1rem;
  color: #333;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #333;
}
.container{
 width: 60%;
  margin: auto;
}
h4{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
}
